.navigation-bar {
  height: 50px;
  position: absolute;
  bottom: 0; right: 0;
  width: 100%;
  z-index: 1;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $base-mobile-side-margin * 2;
  box-shadow: 0 0 10px 2px rgba(1, 1, 1, 0.1);

  .link-more {
    position: absolute; right: $base-mobile-side-margin * 2;
    z-index: 3;
    height: 50px;
    line-height: 50px;
  }

  .homepage-link {
    height: 50px;
    display: flex;
    align-items: center;
    svg {fill: #333;}
    position: relative;
    z-index: 3;
    font-size: 18px;
    .icon-title {display: inline-block; margin-left: 5px; }
    position: absolute; left: $base-mobile-side-margin * 2;
  }

  .background-bar {
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0; right: 0;
    height: 54px;
    z-index: 2;
  }

  h1 {
    font-size: 32px;
    font-weight: 400;
    position: relative;
    z-index: 3;
  }

}

.navigation-bar {display: none;}

body.mdh-map {
  .navigation-bar {display: flex;}

  .navigation-layer-mdh {display: flex;}
  .navigation-layer-historylab {display: none}
}

body.historylab {
  .navigation-bar {display: flex;}

  .navigation-layer-mdh {display: none;}
  .navigation-layer-historylab {display: flex}
}
