.header-main {
  height: 54px;
  position: absolute;
  top: 0; right: 0;
  width: 100%;
  z-index: 1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .header-main-bar {
    background-color: rgb(77,106,121);
    width: 100%;
    position: absolute;
    top: 0; right: 0;
    height: 54px;
    z-index: 2;
  }

  .header-main-hide-google-controls {
    background-color: rgb(77,106,121);
    width: 50%;
    position: absolute;
    top: 54px; right: 0;
    height: 54px;
    z-index: 2;
  }

  h1 {
    font-size: 32px;
    font-weight: 400;
    position: relative;
    z-index: 3;
  }

}
