.dashboard {
  height: 100%;
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $base-mobile-side-margin / 2;
  padding: $base-mobile-side-margin / 2;

  .section {
    padding: 0;
    height: 100%; padding: $base-mobile-side-margin / 2;
    display: flex;
    align-items: center;

    &:nth-child(1),
    &:nth-child(4) {
      background-color: #eee;
    }

    &:nth-child(2),
    &:nth-child(3) {
      background-color: #FAFAFA;
    }

    &:nth-child(2n) {
      padding-left: 0;
    }

    .content {
      width: 50%;
      margin: 0 auto;
    }

    h1 {
      font-size: 42px;
      line-height: 1.1;
      margin-bottom: 3rem;
    }
    p {
      font-size: 24px;
      line-height: 1.4;
      width: 75%;
    }


    &.historylab {
      .logo {width: 300px;}
    }

    &.tiraz p {
      font-size: 16px;
    }

  }

  .button {
    background-color: #000;
    color: #fff;
    padding: .4rem 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 1rem;
    height: 3.2rem;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 1.6rem;
    box-shadow: 0 0.4rem 0.8rem rgba(28,19,18,.5);
    transition: background-color .2s ease,color .2s ease,
    box-shadow .2s ease;
    width: 50%;
  }

}



.main-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 200%;
}
.iframe-container {
  height: 100%;
  width: 100%;
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 50px;

}

.main-container {
  transform: translateX(0%);
  transition: transform .5s ease-in-out;

}

#legend {
width: 800px; background: red;
}

.frame  {
  z-index: 0;
  position: absolute; top: 0; left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity .5s ease-in;
}

body.mdh-map .main-container {
  transform: translateX(-50%);
  .frame-mdh  {opacity: 1; z-index: 2; transition: opacity .5s ease-in; }
}

body.historylab .main-container {
  transform: translateX(-50%);
  .frame-historylab {opacity: 1; z-index: 2; overflow: auto; transition: opacity .5s ease-in; }
}

body.archive .main-container {
  transform: translateX(-50%);
  .frame-archive {opacity: 1; z-index: 2; overflow: auto; transition: opacity .5s ease-in; }
}

.window-info {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0;
  z-index: 1;
}

.julius-fucik-map-window-info {

  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: calc(100vh - $navigation-bar-height);
  overflow: hidden;

  transform: translateY(100%);
  transition: transform .5s ease-out;

  &.is-open {
    transform: translateY(0);
  }

  figure {
    width: 50%;
    img {margin-top: -5rem; width: 100%;}
  }

  .content-container {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: $base-mobile-side-margin * 3 0 0;
    overflow: scroll;
    height: 100vh;
  }

  .excerpt-container {
    width: 70%;
  }

  .map-layer-info-container {
    width: 70%;
    margin-top: $base-mobile-side-margin * 2;
    margin-bottom: $base-mobile-side-margin * 2;

    h2 {font-size: 25px;}
    .layer {
      min-height: 200px;
      display: flex;
      align-items: flex-start; justify-content: center;
      border-radius: 8px;
      background: #eee;
      padding: $base-mobile-side-margin;
      box-sizing: border-box;
      margin-top: $base-mobile-side-margin;
    }
    .name {width: 40%; max-width: 372px; padding-right: $base-mobile-side-margin; font-size: 21px;}
    .description {width: 55%; font-size: 20px; min-width: 375px;}

  }

}

.frame-real-content {
  padding: $base-mobile-side-margin * 2 $base-mobile-side-margin * 2 ($navigation-bar-height + $base-mobile-side-margin * 2) ;
}

.content-container {
  small {font-size: 16px;}
  h1 {
    font-size: 61px;
    margin-bottom: $base-mobile-side-margin;
  }
  p {font-size: 20px; margin-bottom: 1em;}
}

.gallery-container {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: $base-mobile-side-margin;
  .gallery-item {
    width: 30%;
    margin-bottom: 5%;
  }
}
.tiraz-text p {font-size: 16px;}
.tiraz-logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: $base-mobile-side-margin * 2;
  img {margin-left: $base-mobile-side-margin * 2; width: 180px;}
  img:first-child {margin-left: 0;}
}
.tiraz-container {
  background-color: #eee;
  padding: $base-mobile-side-margin * 4 0 $base-mobile-side-margin * 4;
  .excerpt-container {margin: 0 auto;}
}
