.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;

  .side {
    padding: $base-mobile-side-margin * 4 0;
    width: 50%;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;

    .content {width: 66%; margin: 0 auto;}

    h1 {
      font-size: 81px;
      line-height: 1.1;
      margin-bottom: 3rem;
    }
    p {
      font-size: 36px;
      line-height: 1.4;
      width: 75%;
    }


    &.historylab {
      .logo {width: 300px;}
    }
  }

  .button {
    background-color: #000;
    color: #fff;
    padding: .4rem 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 1rem;
    height: 3.2rem;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 1.6rem;
    box-shadow: 0 0.4rem 0.8rem rgba(28,19,18,.5);
    transition: background-color .2s ease,color .2s ease,
    box-shadow .2s ease;
    width: 50%;
  }

}

.main-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 300%;
}

iframe {width: 100%; height: 100%; box-sizing: border-box; padding-bottom: 50px;}

.main-container {
  transform: translateX(0%);
  transition: transform .5s ease-in-out;

}


body.mdh-map .main-container {
  transform: translateX(-33.333%);
}

body.historylab .main-container {
  transform: translateX(-66.666%);
}
