extends ./_partials/layout.pug

block vars
  - bodyClass = 'index'

block main


  .main-container
    section.dashboard

      .section.mdh

        .content
          h1 Topografie paměti: Julius Fučík
          p Prototyp interaktivní mapy&nbsp;míst spojených s&nbsp;postavou Julia Fučíka

          .button-container
            a.button(href="#" rel="mdh") Spustit mapu →

      .section.historylab

        .content
          h1 Julius Fučík v&nbsp;aplikaci HistoryLab
          p Vzdělávací aplikace<br>pro práci s&nbsp;historickými<br>prameny

          p
            <svg class="is-hidden logo" xmlns="//www.w3.org/2000/svg" viewBox="0 0 918 177"><path d="M3 132a3 3 0 0 1-3-3V30a3 3 0 0 1 3-3h48a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3H18a3 3 0 0 0-3 3v69a3 3 0 0 0 3 3h91a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3zm154 0a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3h91a3 3 0 0 0 3-3V44a3 3 0 0 0-3-3h-33a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3h48a3 3 0 0 1 3 3v100a3 3 0 0 1-3 3z"></path><path d="M128.06 132a3 3 0 0 1-3-3v-22a3 3 0 0 0-3-3H70a3 3 0 0 1-3-3V3a3 3 0 0 1 3-3h126a3 3 0 0 1 3 3v98a3 3 0 0 1-3 3h-52a3 3 0 0 0-3 3v22a3 3 0 0 1-3 3zM181 89a3 3 0 0 0 3-3V18a3 3 0 0 0-3-3H85a3 3 0 0 0-3 3v68a3 3 0 0 0 3 3z"></path><path d="M312 28.88a3 3 0 0 1 2.87-2.88h10a2.87 2.87 0 0 1 2.88 2.88v42.25H383V28.88a2.87 2.87 0 0 1 2.89-2.88h10a3 3 0 0 1 2.87 2.88v100.24a3 3 0 0 1-2.87 2.88h-10a2.87 2.87 0 0 1-2.87-2.88V85.36h-55.3v43.76a2.87 2.87 0 0 1-2.88 2.88h-10a3 3 0 0 1-2.87-2.88zm100.73 8.79a8.71 8.71 0 0 1 8.61-9 8.89 8.89 0 1 1 0 17.78 8.67 8.67 0 0 1-8.61-8.78zm1.66 36.23a3 3 0 0 1 2.87-2.9h8.62a3 3 0 0 1 2.87 2.9v55.2a3 3 0 0 1-2.87 2.9h-8.62a3 3 0 0 1-2.87-2.9zm26.88 49.8l3.18-5.85a2.61 2.61 0 0 1 3.77-.75s6.65 3.9 14.06 3.9c4.53 0 7.4-1.8 7.4-5.1 0-4.05-3.32-6-11.63-9.75-9.37-4.05-17.23-9.75-17.23-19.65 0-7.5 6.2-16.5 20.7-16.5a34.07 34.07 0 0 1 17.83 4.65 3.33 3.33 0 0 1 1.21 4.35l-2.72 5.1a3.19 3.19 0 0 1-3.93 1.2s-6.64-3.15-12.39-3.15c-5.13 0-6.8 2.25-6.8 4.5 0 3.9 3.78 5.55 9.67 8.1 11 4.8 20.1 9.45 20.1 20.7 0 9.3-8.91 17.55-22.36 17.55-10.13 0-16.78-3.6-19.95-6.15a2.52 2.52 0 0 1-.91-3.15zm57.8-40.26h-6.34a2.88 2.88 0 0 1-2.87-2.88v-6.82a2.78 2.78 0 0 1 2.87-2.88h6.34V54a3 3 0 0 1 2.93-2.85l8.61-.15a2.84 2.84 0 0 1 2.72 2.88v17h15.41a2.78 2.78 0 0 1 2.87 2.88v6.82a2.88 2.88 0 0 1-2.87 2.88h-15.46v30c0 5.15 2 6.06 4.83 6.06 3.18 0 7.41-1.82 9.22-2.73 2-.91 2.87 0 3.48 1.37l2.72 6.66a2.52 2.52 0 0 1-1.36 3.64c-1.51.91-10.43 4.55-17.68 4.55-11.94 0-15.42-7.28-15.42-18zM568.24 70c16.92 0 30.52 14.4 30.52 31.35 0 17.25-13.6 31.65-30.52 31.65s-30.53-14.4-30.53-31.65c0-16.95 13.6-31.35 30.53-31.35zm0 50.1c9.52 0 17.07-8.4 17.07-18.75 0-10-7.55-18.3-17.07-18.3s-17.08 8.25-17.08 18.3c0 10.35 7.56 18.75 17.08 18.75zM611 74.15a3 3 0 0 1 2.88-2.89h4.38a2.89 2.89 0 0 1 2.57 2.13l1.66 5.16a21.51 21.51 0 0 1 17.68-8.81c5.74 0 12.69 1.52 11 5.62l-3.63 7.45a2.56 2.56 0 0 1-3.54 1.37 13.71 13.71 0 0 0-5.14-1.07 15.91 15.91 0 0 0-13.6 7.45v38.61c0 2.58-1.66 2.89-4.08 2.89h-7.25a3 3 0 0 1-2.88-2.89zm44.84.79A2.67 2.67 0 0 1 658.4 71h9.93a3.26 3.26 0 0 1 2.56 1.67L689.56 113h.15l18.07-40.28c.6-1.37 1.8-1.67 3.16-1.67h8.58c2.41 0 3.61 2 2.56 3.94L676 175.18a3 3 0 0 1-2.56 1.82h-9a2.71 2.71 0 0 1-2.56-4.09L682 129.45zm76.05-46.06a2.87 2.87 0 0 1 2.87-2.88h10a3 3 0 0 1 2.88 2.88v89h40.95a2.87 2.87 0 0 1 2.87 2.87v8.33a2.87 2.87 0 0 1-2.87 2.88h-53.8a2.87 2.87 0 0 1-2.87-2.88zm89.52 64.67a43.75 43.75 0 0 1 11.93 1.8c.15-9.45-1.66-13.2-9.37-13.2a64.59 64.59 0 0 0-16.92 2.7c-1.81.45-2.87-.75-3.33-2.4l-1.2-5.55a2.69 2.69 0 0 1 2-3.45A62.74 62.74 0 0 1 825.33 70c19.35 0 21.16 11.7 21.16 26.7v32.46a3 3 0 0 1-2.87 2.84h-4.23c-1.36 0-1.77-.59-2.37-2.09l-1.71-4.56a26.18 26.18 0 0 1-18.59 7.65c-11.33 0-19.49-7.65-19.49-20.1 0-10.9 8.77-19.35 24.18-19.35zm-1.82 28.8c6 0 11.79-4.5 13.6-7.5v-9.6a22.9 22.9 0 0 0-10.58-2.4c-7.25 0-12.24 3.75-12.24 9.9 0 5.4 3.63 9.6 9.22 9.6zm39.63-93.49a3 3 0 0 1 2.87-2.86h8.76a3 3 0 0 1 2.87 2.86V73a36.48 36.48 0 0 1 14.51-3.32c16.77 0 29.77 14 29.77 31.65 0 17.33-12.24 31.65-28.26 31.65a27 27 0 0 1-19.19-8.44l-1.41 4.88c-.45 1.58-1.14 2.58-2.52 2.58h-4.53a3 3 0 0 1-2.87-2.86zM887.93 120c9.67 0 16-8.59 16-18.69s-7.11-18.53-17.23-18.53a25.93 25.93 0 0 0-13.15 3.46V111c.78 1.66 5.16 9 14.38 9z"></path></svg>

          .button-container
            a.button(href="#" rel="historylab") Spustit aplikaci HistoryLab →


      .section.other
        .content
          h1 Z archivu
          p Další fotografie a<br>dokumenty k&nbsp;tématu<br>Julius&nbsp;Fučík

          .button-container
            a.button(href="#" rel="archive") Otevřít archív →

      .section.tiraz
        .content
          p K výstavě jsme připravili aplikace, které téma Julius Fučík doplňují o další perspektivy. V&nbsp;mapě Topografie paměti můžete hledat známá místa a odkrývat spojitost s Fučíkem, HistoryLab naznačuje, jak téma může fungovat v&nbsp;dnešní školní výuce.
          p Interaktivní stůl ovládejte stejně jako jiná dotyková zařízení (chytrý telefon nebo tablet).
          .tiraz-logos
            img(src="assets/images/logo_nm.png" alt="Logo Národního Muzea" width="200")
            img(src="assets/images/logo_ustr.png" alt="Logo Ústavu pro studium totalitních režimů" width="200")

    .iframe-container

      .frame.frame-mdh

        article.window-info.map-window-info.julius-fucik-map-window-info

          figure
            img(src="assets/images/julius-fucik-map-cover.jpg" alt="")
          .content-container
            .excerpt-container
              .legend
                small Legenda k mapě

              h1 Topografie paměti: Julius Fučík
              p Prototyp interaktivní mapy zachycuje výběr památníků, ulic či institucí nesoucích Fučíkovo jméno. Patří k nim místa spjatá přímo s jeho životem, dějiště pietních aktů, ale i lokace, kde se odehrává Reportáž, psaná na oprátce, nebo prostory, které byly po Fučíkovi pojmenovány zcela náhodně. Mapa se snaží udržet celosvětové měřítko, které pomáhá odhalit míru úcty prokazované tomuto socialistickému mučedníkovi. Názorně pak dokládá, že centrální oblastí zájmu o Julia Fučíka leželo na území Československa. Silnou odezvu měl jeho příběh také v Sovětském svazu a jeho satelitech. Ve všech jmenovaných oblastech byl zájem o jeho osobu nesen oficiální kulturní politikou. Svojí přitažlivost však měl i pro levicové prostředí na druhé straně železné opony.
              p Mapu jsme rozdělili do několika vrstev. Ty by měly usnadnit orientaci, nejde však o přesně definované a pevné kategorie: některá místa jsou obtížně zařaditelná, klasifikace se v některých případech překrývá. Základním smyslem mapy je, aby nám pomáhala klást si otázky, které se můžete pokusit zodpovědět prostřednictvím výstavy, svých vzpomínek či rozhovorem s pamětníky.

            .map-layer-info-container
              h2 Vrstvy na mapě
              .layer
                h3.name Ulice
                p.description Mnoho měst a obcí pojmenovalo některou ze svých ulic po Juliu Fučíkovi, a to nejen v Československu. Byla Fučíkova ulice i ve vašem rodném městě? Kde Fučíkova zůstala a kde byla přejmenována? Jednalo se o hlavní bulvár nebo uličku na periferii? A je Fučíkova pojmenována po Juliovi nebo jeho strýci a hudebním skladateli Bedřichovi?

              .layer
                h3.name Monumenty ve veřejném prostoru
                p.description Byl skutečně Fučík ve veřejném prostoru všudypřítomný? Vybavíte si některý z pomníků Julia Fučíka, který po roce 1989 zmizel. Můžete na Fučíka narazit ještě někde dnes? Která ze stanic metra dříve nesla jméno Fučíkova? Vědí vaše děti, kde se nachází „Fučíkárna“?

              .layer
                h3.name Přírodní monumenty
                p.description Jméno Julia Fučíka se nepropsalo jen do měst a obcí, ale i do přírodní krajiny. I když jde spíše o kuriozity, věděli byste, kde hledat horu Julia Fučíka?

              .layer
                h3.name Místa Fučíkova života
                p.description V oficiálním vzpomínání na Julia Fučíka hrála podstatnou roli místa, která Fučík navštívil,  kde  žil,  nebo kde byl zatčen. Jaké to je žít v bytě, v němž Fučík nestřílel?

              .layer
                h3.name Místa z Reportáže
                p.description Dokonce i Reportáž, psaná na oprátce oplývá zajímavou prostorovou dynamikou. Kromě věznění na Pankráci a výslechů v Petschkově paláci se děj odehrává i na dalších místech. Kde komisař Böhm ve známé scéně pokoušel Fučíka?

              .layer
                h3.name Konference
                p.description Po válce se uskutečnilo i několik konferencí na fučíkovské téma. Kdo zde vystoupil? A mělo by smysl pořádat konferenci o Fučíkovi i dnes?

              .layer
                h3.name Fučík po roce 1989
                p.description Některá místa spojená s Juliem Fučíkem se po roce 1989 výrazně proměnila. Kde můžete na Fučíka narazit ještě dnes?


              .layer
                h3.name Podniky a pracovní kolektivy
                p.description Po Fučíkovi bylo pojmenováno i několik podniků. Kde se rozprostíraly Doly Julia Fučíka? Znamenalo toto jméno něco pro místní dělníky?

              .layer
                h3.name Fučík a mládež
                p.description Fučík sloužil jako příkladná postava pro dospívající, proto po něm bylo pojmenováno několik mládežnických organizací. Kdo z vás chodil do pionýrského oddílu Julia Fučíka?

            .tiraz-container
              .excerpt-container
                .tiraz-text
                  p Na přípravě obsahu mapy se podíleli členové projektového týmu Muzeum dělnického hnutí v 21. století z Ústavu pro studium totalitních režimů a Národního muzea. Hlavním autorem mapy je Bohumil Melichar.
                  p Prototyp mapy za finanční podpory Ministerstva kultury ČR v rámci projektu číslo DG18P02OVV045 – Muzeum dělnického hnutí v 21. století. Prezentace práce s muzejní sbírkou doby státního socialismu a způsoby užití jejího materiálu k potřebám odborné a široké veřejnosti (2018-2022, MK0/DG), podpořeného Programem na podporu aplikovaného výzkumu a experimentálního vývoje národní a kulturní identity na léta 2016 až 2022 (NAKI II).
                .tiraz-logos.tiraz-logos-small
                  img(src="assets/images/logo_nm.png" alt="Logo Národního Muzea")
                  img(src="assets/images/logo_ustr.png" alt="Logo Ústavu pro studium totalitních režimů")


        <iframe allowfullscreen="false" frameborder="0" src="https://www.google.com/maps/d/embed?mid=1Jp34vUP7mnw4Q9AZJH0T3zlBPmiXDJ50&z=6&ll=50.08804,14.42076&output=embed&legend=true" width="1920" height="1026"></iframe>

      .frame.frame-historylab
        <iframe allowfullscreen="false" frameborder="0" src="https://historylab.cz/vystava.html " width="1920" height="1026"></iframe>

      .frame.frame-real-content.frame-archive
        .content-container
          h1.frame-title Z archivu
          p Další fotografie a dokumenty k&nbsp;tématu Julius Fučík

          .gallery-container(data-component="gallery")
            .gallery-item
              img.img-zoomable(src="assets/images/gallery/DSCF7316.jpg" alt="")
              p.desc Julius Fučík, 30. léta
            .gallery-item
              img.img-zoomable(src="assets/images/gallery/DSCF9742.jpg" alt="")
              p.desc Čtení Reportáže psané na oprátce, 1950. Dobový popisek: <i>První schůzka čtenářského kroužku záv. skupiny ČSM Nisan Vestec, která má podepsáno 100 % závazků na Fučíkův odznak. Soudruzi začali Reportáží</i>
            .gallery-item
              img.img-zoomable(src="assets/images/gallery/DSCF9876.jpg" alt="")
              p.desc Julius Fučík s pionýry, SSSR 30. léta
            .gallery-item
              img.img-zoomable(src="assets/images/gallery/GFMaoCeTungPoster01.jpg" alt="")
              p.desc Gusta Fučíková oslavuje Mao Ce Tunga. 50. léta
            .gallery-item
              img.img-zoomable(src="assets/images/gallery/JF_12.jpg" alt="")
              p.desc Odhalování pomníku Juliu Fučíkovi v Berlínské čtvrti Pankow roku 1974
            .gallery-item
              img.img-zoomable(src="assets/images/gallery/JF047.jpg" alt="")
              p.desc Odhalení busty Julia Fučíka v prostorách Univerzity Karlovy, 1973
            .gallery-item
              img.img-zoomable(src="assets/images/gallery/Pohraničníci_Planá_Krybus.jpg" alt="")
              p.desc Mužstvo vojenského učiliště Pohraniční a Vnitřní stráže Julia Fučíka v Bruntále
            .gallery-item
              img.img-zoomable(src="assets/images/gallery/předPKOJF.jpg" alt="")
              p.desc Pionýrská stráž před Fučíkovým pomníkem v Parku kultury a oddechu Julia Fučíka, 80. léta.
            .gallery-item
              img.img-zoomable(src="assets/images/gallery/vystava-1952.jpg" alt="")
              p.desc Vystavování Reportáže psané na oprátce. <i>Výstava Život a dílo Julia Fučíka</i> z roku 1953.
