extends ./_partials/layout.pug

block vars
  - bodyClass = 'index'

block main


  <iframe id="frame-google-map" allowfullscreen="false" frameborder="0" src="https://www.google.com/maps/d/embed?mid=1Jp34vUP7mnw4Q9AZJH0T3zlBPmiXDJ50&z=6&ll=50.08804,14.42076" width="1920" height="1026"></iframe>
