header.navigation-bar



  .navigation-layer.navigation-layer-mdh

    a.homepage-link(href="#")
      <svg xmlns="http://www.w3.org/2000/svg" width="18.727" height="26.356" viewBox="0 0 18.727 26.356"><path d="M607.858,553.1v-8.374L597.75,557.9l10.109,13.178V562.7h8.618V553.1h-8.618Z" transform="translate(-597.75 -544.722)"/></svg>
      span.icon-title Zpět na rozcestník

    h1 Topografie paměti: Julius Fučík

    a.link-more(href="#") Nápověda k aplikaci
    .background-bar


  .navigation-layer.navigation-layer-historylab

    a.homepage-link(href="#")
      <svg xmlns="http://www.w3.org/2000/svg" width="18.727" height="26.356" viewBox="0 0 18.727 26.356"><path d="M607.858,553.1v-8.374L597.75,557.9l10.109,13.178V562.7h8.618V553.1h-8.618Z" transform="translate(-597.75 -544.722)"/></svg>
      span.icon-title Zpět na rozcestník


    h1 Julius Fučík v&nbsp;aplikaci HistoryLab
    .background-bar

