header.navigation-bar

  a.navigation-bar-link.homepage-link(href="#")
    <svg xmlns="http://www.w3.org/2000/svg" width="18.727" height="26.356" viewBox="0 0 18.727 26.356"><path d="M607.858,553.1v-8.374L597.75,557.9l10.109,13.178V562.7h8.618V553.1h-8.618Z" transform="translate(-597.75 -544.722)"/></svg>
    span.icon-title Zpět na rozcestník


  .navigation-layer.navigation-layer-mdh

    h1 Topografie paměti: Julius Fučík

    a.navigation-bar-link.link-more(rel=".julius-fucik-map-window-info" href="#")
      span.icon-title
        span.icon-title-close Zavřít legendu k mapě
        span.icon-title-open Otevřít legendu k mapě
      <svg xmlns="http://www.w3.org/2000/svg" width="26.356" height="18.727" viewBox="0 0 26.356 18.727"><path d="M607.858,553.1v-8.374L597.75,557.9l10.109,13.178V562.7h8.618V553.1h-8.618Z" transform="translate(571.078 -597.75) rotate(90)"/></svg>

  .navigation-layer.navigation-layer-historylab

    h1 Julius Fučík v&nbsp;aplikaci HistoryLab

  .navigation-layer.navigation-layer-archive


    h1 Z archivu

  .background-bar

