@import '../../node_modules/bulma/bulma.sass';
// Required Core Stylesheet

/* fonts */
@import "fonts";
/* end fonts */
@import "lib/all";


div, textarea {box-sizing: border-box;}

html {
  font-size: 12px;

  @include from($widescreen) {
    font-size: 14px;
  }

  @include from($fullhd) {
    font-size: $base-font-size;
  }
}
html, body {height: 100%;}
body {
  font-family: 'republic-web', sans-serif;
  font-weight: 400;
  color: $primary-color;
  line-height: 1.7;
  margin: 0;

  @include from($widescreen) {

  }

}


strong {
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 200;
}

p {line-height: $base-line-height;}




[data-rel] {
  cursor: pointer;
}


/****************************************************/
/* :ICONS: */

/****************************************************/

/* :GRID: */

/****************************************************/
/* :LAYOUT: */
.main-container {
  position: relative;
  z-index: 0;
}


.container {

}

/****************************************************/



/****************************************************/
/* :HEADER: */
@import "partials/header";

/****************************************************/


/****************************************************/
/* :MAIN: */
@import "partials/sections";


/****************************************************/

/****************************************************/
/* :COMPONENTS: */


/****************************************************/


/****************************************************/
/* :FOOTER: */
@import "partials/footer";

/****************************************************/
